html {
    scroll-behavior: smooth;
}

.message-line {
    /*display: none;*/
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
}

.show {
    /*display: block;*/
    opacity: 1;
    animation: show 1s ease-in-out forwards;
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #0066FF;
    border: none;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
    transition: background-color 0.3s ease-in;
    height: 56px;
    width: 390px;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
}

.button-disable {
    cursor: not-allowed;
}

button:hover {
    background-color: #0011ff;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
}

.button-div {
    position: absolute;
    display: flex;
    z-index: 1;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flex {
    display: flex;
}

.circle {
    width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    position: relative;
    background-color: #A0F8F8;
    background-image: url("src/dmitry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
}
.circle::after {
    content: '';
    border: 20px solid transparent; border-right: 20px solid #0066FF;
    position: absolute;
    left: 80px;
    top: 30px;
}
.circle::before {
    content: 'ДМИТРИЙ';
    font-size: 12px;
    color: #104280;
    letter-spacing: 2px;
    position: absolute;
    left: 140px;
    top: -16px;
}
.message-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /*min-width: 400px;*/
    max-width: 700px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
.reverse {
    flex-direction: row-reverse;
}
.circle-right {
    background-color: #A0F8F8;
    width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    position: relative;
    background-image: url("src/thenumber.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
}
.circle-right::before {
    content: '';
    border: 20px solid transparent; border-left: 20px solid #E834EC;
    position: absolute;
    left: -20px;
    top: 30px;
}
.circle-right::after {
    content: 'THE NUMBER';
    font-size: 12px;
    color: #104280;
    letter-spacing: 2px;
    position: absolute;
    left: -130px;
    top: -16px;
}
.dialog {
    max-width: 1000px;
    margin: 0 auto;
}
.header {
    height: 80px;
    margin: 0 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: transparent;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
    transition: 0.25s ease;
}
.header__scrolled {
    background-color: rgba(0,0,0, 0.1);
    box-shadow: 0 12px 34px -11px rgb(0 0 0 / 12%);
}
body {
    margin: 0;
    padding-top: 150px;
    color: white;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 300;
    background-color: #00FFFF;
}
.logo {
    width: 203px;
    height: auto;
    margin: 30px;
}
.bg-blue {
    background-color: #0066FF;
}
.bg-pink {
    background-color: #E834EC;
}
.footer-spacing {
    height: 200px;
}
.popup {
    display: none;
    position: fixed;
    padding: 20px;
    /*width: 400px;*/
    left: 50%;
    margin-left: -210px;
    /*height: 300px;*/
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
    font-size: 12px;
    color: black;
    border-radius: 10px;
}
#popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}
#popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
    border-radius: 10px;
}
.hidden {
    display:none;
}
.form_button {
    height: 56px;
    width: 390px;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
}
.form_input {
    width: 356px;
    height: 22px;
    padding: 16px;
    border-radius: 4px;
    line-height: 22px;
    font-size: 16px;
    color: #202020;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    background: #ebf4fb;
    border: 1px solid #c7c7c7;
    margin-top: 20px;
}
.form_header {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
.form_label {
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
}
.form_close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.form_success {
    display: none;
    max-width: 400px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
@media (max-width: 720px) {
    body {
        font-size: 20px;
        padding-top: 80px;
    }
    .circle-right::after {
        display: none;
    }
    .circle::before {
        display: none;
    }
    button {
        height: 75px;
        width: 300px;
        line-height: 25px;
        font-size: 18px;
    }
    .form_button {
        height: 75px;
        line-height: 25px;
        font-size: 18px;
        width: 300px;
    }
    .form_input {
        height: 45px;
        font-size: 18px;
        width: 265px;
    }
    .form_label {
        font-size: 20px;
    }
    .form_header {
        font-size: 40px;
    }
    .form_success {
        font-size: 20px;
        line-height: 30px;
    }
    .popup {
        margin-left: -170px;
        margin-top: -200px;
    }
    .form_success {
        max-width: 300px;
    }
    .header {
        position: absolute;
    }
    .circle {
        width: 70px;
        min-width: 70px;
        height: 70px;
        background-size: 50px;
    }
    .circle::after {
        left: 50px;
        top: 16px;
    }
    .circle-right {
        width: 70px;
        min-width: 70px;
        height: 70px;
        background-size: 50px;
    }
    .circle-right::before {
        left: -20px;
        top: 16px;
    }
    .header {
        margin-bottom: 20px;
    }
    .message-line {
        margin-top: 10px;
        margin-bottom: 10px;
}
